body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #e8f5e9, #c8e6c9);
    margin: 0;
}

h1 {
    color: #2e7d32;
}

.box {
    background: white;
    padding: 25px;
    margin: 20px auto;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input {
    padding: 12px;
    margin: 8px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 12px;
    margin-top: 10px;
    border: none;
    background: #2e7d32;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    width: 95%;
    font-weight: bold;
}

button:hover {
    background: #1b5e20;
}

.candidate {
    background: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.page {
    display: none;
}
.btn-danger{
    background-color: red;
    color: white;
}